
div.iconsGroupContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.iconsGroupContainer > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

div.groupIcon {
    margin: 2.5rem 3.8rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

div.selectedIcon {
    width: 2rem;
    height: 2rem;
    /*background: #3d81e3;*/
    box-shadow: 10px 10px 50px 20px grey;
    padding-bottom: 15px;
}
