div.footerMainSection {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 300px;
    background: #21265d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.stankinFooterLogoContainer > div.stankinFooterLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.stankinFooterLogo > img {
    width: 14rem;
}

div.stankinFooterLogo > span {
    color: white;
    font-size: 18pt;
    margin-top: 5px;
    font-weight: bold;
}

div.authors {
    display: flex;
    max-width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.authors > span {
    display: block;
    width: 100%;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 1rem;
}

div.authors > div.authorsGroup {
    display: flex;
    flex-wrap: wrap;
}

div.authorsGroup > div.authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem
}

div.authorsGroup > div.authorInfo > span {
    color: white;
}

div.authorsGroup > div.authorInfo > span.authorName {
    margin-top: 10px;
    font-weight: bold;
}
