div.footerMainSection {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 350px;
    background: #21265d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.stankinFooterLogoContainer > div.stankinFooterLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.stankinFooterLogo > img {
    width: 14rem;
}

div.stankinFooterLogo > span {
    color: white;
    font-size: 18pt;
    margin-top: 5px;
    font-weight: bold;
}
