.sliderIconContainer {
    width: 15rem;
    height: 15rem;
    display: inline-block;
}

.sliderIcon {
    width: 15rem;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sliderIcon.fadeOut {
    animation-duration: 0.5s;
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.circleIcon {
    border-radius: 50%;
    background: white;
}

.ant-carousel .slick-slide {
    height: 577px!important;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #3d81e3!important;
}

.ant-carousel .slick-dots li button {
    background: #3d81e3!important;
}

.slideContainer {
    max-width: 30rem!important;
    margin-top: 2rem;
}

div.slideContainer > span {
    display: inline-block;
    color: #11116e;
    font-size: 1.2rem;
    max-width: 95%;
    height: 90px;
}

.phoneFrameImage {
    background-image: url("../../../static/img/phoneFrame.svg");
    width: 317px;
    height: 455px;
    display: inline-block;
    position: relative;
}

.phoneFrameImage > img {
    width: 217px;
    position: absolute;
    left: 50px;
    top: 71px;
    z-index: -1;
}

@media (max-width: 660px) {
    .slideContainer {
        width: 95%!important;
    }

    div.groupIcon {
        margin: 2.5rem 2rem;
    }

    .sliderIconContainer {
        width: 13rem;
        height: 13rem;
    }

    .sliderIcon {
        width: 13rem;
    }

    div.selectedIcon {
        width: 1rem;
        height: 1rem;
        box-shadow: 6px 6px 30px 10px grey;
        padding-bottom: 15px;
    }
}

@media (max-width: 410px) {
    .slideContainer {
        margin-top: 5px;
    }

    .ant-carousel .slick-slide {
        height: 590px!important;
    }

    .slideContainer > span {
        margin-top: 20px;
        height: 110px!important;
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    div.groupIcon {
        margin: 2.5rem 1.5rem;
    }

    .sliderIconContainer {
        width: 11rem;
        height: 11rem;
    }

    .sliderIcon {
        width: 11rem;
    }
}
